<div class="ambient-layer" aria-hidden="true">
  <span class="ambient-layer__orb ambient-layer__orb--one"></span>
  <span class="ambient-layer__orb ambient-layer__orb--two"></span>
  <span class="ambient-layer__spark ambient-layer__spark--one"></span>
  <span class="ambient-layer__spark ambient-layer__spark--two"></span>
  <span class="ambient-layer__spark ambient-layer__spark--three"></span>
</div>
